<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>

<form class="form" method="post" action="" novalidate>
  <div class="form-container">

    <div class="form-fields-container">
      <div class="u-grid-1">
        <div class="form-field">
          <div class="form-field-control">
            <label for="email{{ $section->id1 }}"
                   class="form-field-label">Email<span>*</span>
            </label>
            <input id="email{{ $section->id1 }}"
                   name="email"
                   type="text"
                   class="form-field-input" />
          </div>
        </div>
      </div>
      <div class="u-grid-1">
        <div class="form-field">
          <div class="form-field-control">
            <label for="password{{ $section->id1 }}"
                   class="form-field-label">Парола<span>*</span>
            </label>
            <input id="password{{ $section->id1 }}"
                   name="password"
                   type="password"
                   class="form-field-input" />
            <div class="password-hide"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-field terms" id="terms">
      <div class="form-field-control">
        <label class="checkbox-label">
          <input type="checkbox" id="terms-checkbox{{ $section->id }}"  name="terms"  >
          <span class="checkbox-title">Запознат съм с <a href="#">общите условия.</a><span>*</span></span>
          <span class="checkbox-custom"></span>
        </label>
      </div>
      <div class="form-field-control">
        <label class="radio-label">
          <input type="radio" id="radio-1"  name="radio-button"  >
          <span class="radio-title">Radio Button</span>
          <span class="radio-custom"></span>
        </label>
      </div>

      <div class="form-field-control">
        <label class="radio-label">
          <input type="radio" id="radio-2"  name="radio-button"  >
          <span class="radio-title">Radio Button</span>
          <span class="radio-custom"></span>
        </label>
      </div>
    </div>
  </div>
  <!--<div class="form-field terms" id="remember">-->
    <!--<div class="form-field-control">-->
      <!--<label class="checkbox-label">-->
        <!--<input type="checkbox" id="remember-checkbox{{ $section->id }}"  name="remember">-->
        <!--<span class="checkbox-title">Запомни ме</span>-->
        <!--<span class="checkbox-custom"></span>-->
      <!--</label>-->
      <!--<a href="#">Забравена парола?</a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="button-cont u-center">-->
    <!--<button type="submit" class="send btn solid-purple">Влез</button>-->
  <!--</div>-->

</form>
<script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>


<script type="module"  src="form-demo.js"></script>
</body>
</html>