:root {
  --color-form-field: #3d3c39;
  --color-form-field-error: #ca3610;
  --color-form-field-border: #d97b10;
  --color-form-field-label: #fc7317;
  --form-field-font-family: 'Roboto';
  --form-field-label-size: 16px;
  --form-field-label-active-size: 14px;
  --checkbox-width: auto;
  --checkbox-color: #ff6f06;
  --checkbox-tick-color: #fff;
  --checkbox-font-size: 16px;
  --checkbox-line-height: 16px;
  --checkbox-default-width: 18px;
  --checkbox-default-height: 18px;
  --checkbox-border-radius: 7px;
  --input-width: 16px;
  --input-height: 16px;
  --radio-width: auto;
  --radio-color: #ff6f06;
  --radio-circle-color: #fff;
  --radio-font-size: 16px;
  --radio-line-height: 16px;
  --radio-default-width: 18px;
  --radio-default-height: 18px;
  --radio-border-radius: 50%; }

/* Styling Input Line Material Design Starts */
.form-field {
  display: block;
  border: 1px solid var(--color-form-field-border);
  height: auto;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px; }
  .form-field-is-active .form-field-label {
    color: var(--color-form-field-label);
    font-size: var(--form-field-label-active-size);
    transform: translateY(-40px); }
  .form-field-is-filled .form-field-label {
    font-size: var(--form-field-label-active-size);
    transform: translateY(-40px); }
  .form-field.form-filed-error .form-field-control::after {
    border-bottom: 2px solid var(--color-form-field-error);
    transform: scaleX(150); }
  .form-field.form-filed-error .form-field-label {
    color: var(--color-form-field-error);
    font-size: var(--form-field-label-active-size);
    transform: translateY(-40px); }

.form-field-error-text {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-form-field-error) !important; }

.form-field-label {
  display: block;
  font-size: var(--form-field-label-size);
  font-weight: normal;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  transition: all 0.6s;
  width: 100%;
  color: var(--color-form-field-label); }

.form-field-control {
  border-radius: 4px 4px 0 0;
  position: relative;
  width: 100%; }
  .form-field-control .password-hide,
  .form-field-control .password-visible {
    position: absolute;
    top: 0;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer; }

.form-field-input,
.form-field-textarea {
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--color-form-field);
  display: block;
  font-size: var(--form-field-label-size);
  outline: 0;
  width: 100%; }

.form-field-textarea {
  font-family: inherit;
  min-height: 120px;
  resize: none; }

/* Styling Checkbox Starts */
.checkbox-label {
  display: block;
  position: relative;
  margin: 12px 0;
  cursor: pointer;
  font-size: var(--checkbox-font-size);
  line-height: var(--checkbox-line-height);
  width: var(--checkbox-width);
  clear: both; }
  .checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    width: var(--input-width);
    height: var(--input-height); }
    .checkbox-label input:disabled ~ .checkbox-custom {
      background-color: var(--checkbox-color); }
    .checkbox-label input:checked ~ .checkbox-custom {
      background-color: var(--checkbox-color);
      border-radius: var(--checkbox-border-radius);
      transform: rotate(0deg) scale(1);
      opacity: 1;
      border: 1px solid var(--checkbox-color); }
      .checkbox-label input:checked ~ .checkbox-custom::after {
        transform: rotate(45deg) scale(1);
        opacity: 1;
        left: 6px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid var(--checkbox-tick-color);
        border-width: 0 2px 2px 0;
        background-color: transparent;
        border-radius: 0; }
      .checkbox-label input:checked ~ .checkbox-custom::before {
        left: -3px;
        top: -3px;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        transform: scale(3);
        opacity: 0;
        z-index: 999;
        transition: all 0.3s ease-out; }
  .checkbox-label .checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--checkbox-default-height);
    width: var(--checkbox-default-width);
    background-color: transparent;
    transition: all 0.3s ease-out;
    border: 1px solid var(--checkbox-color);
    border-radius: var(--checkbox-border-radius); }
    .checkbox-label .checkbox-custom::after {
      position: absolute;
      content: "";
      left: 12px;
      top: 12px;
      height: 0;
      width: 0;
      border-radius: 3px;
      border: solid var(--checkbox-color);
      border-width: 0 2px 2px 0;
      transform: rotate(0deg) scale(0);
      opacity: 1;
      transition: all 0.3s ease-out; }
  .checkbox-label .checkbox-title {
    margin-left: 30px;
    display: inline-block;
    width: 100%;
    line-height: 20px; }
  .checkbox-label::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0;
    height: 0;
    border-radius: 3px;
    border: 1px solid var(--checkbox-color);
    transform: scale(0); }

/* Styling Radio Buttons Starts */
.radio-label {
  display: block;
  position: relative;
  margin: 12px 0;
  cursor: pointer;
  font-size: var(--radio-font-size);
  line-height: var(--radio-line-height);
  width: var(--radio-width);
  clear: both; }
  .radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    width: var(--input-width);
    height: var(--input-height); }
    .radio-label input:disabled ~ .radio-custom {
      background-color: var(--radio-color); }
    .radio-label input:checked ~ .radio-custom {
      background-color: var(--radio-color);
      border-radius: 50%;
      transform: rotate(0deg) scale(1);
      opacity: 1;
      border: 1px solid var(--radio-color); }
      .radio-label input:checked ~ .radio-custom::after {
        transform: rotate(45deg) scale(1);
        opacity: 1;
        border: solid var(--radio-circle-color);
        border-width: 0 2px 2px 0;
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
        border-radius: var(--radio-border-radius);
        background: white; }
      .radio-label input:checked ~ .radio-custom::before {
        left: -3px;
        top: -3px;
        width: 16px;
        height: 16px;
        border-radius: var(--radio-border-radius);
        transform: scale(3);
        opacity: 0;
        z-index: 999;
        transition: all 0.3s ease-out; }
  .radio-label .radio-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--radio-default-height);
    width: var(--radio-default-width);
    background-color: transparent;
    transition: all 0.3s ease-out;
    border: 1px solid var(--radio-color);
    border-radius: var(--radio-border-radius); }
    .radio-label .radio-custom::after {
      position: absolute;
      content: "";
      left: 12px;
      top: 12px;
      height: 0;
      width: 0;
      border-radius: 3px;
      border: solid var(--radio-color);
      border-width: 0 2px 2px 0;
      transform: rotate(0deg) scale(0);
      opacity: 1;
      transition: all 0.3s ease-out; }
  .radio-label .radio-title {
    margin-left: 30px;
    display: inline-block;
    width: 100%;
    line-height: 20px; }
  .radio-label::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0;
    height: 0;
    border-radius: 3px;
    border: 1px solid var(--radio-color);
    transform: scale(0); }

.form {
  width: 60%;
  margin: 100px auto; }
  .form .form-field {
    margin-bottom: 30px; }
  .form .terms {
    border: none; }

/*# sourceMappingURL=styles.css.map */
