@import "lib/scss/main";

//:root {
//  --color-form-field: #ff2919;
//  --color-form-field-border: #d93b1c;
//  --color-form-field-label: #211afc;
//  --form-field-font-family: 'Roboto';
//  --form-field-label-size: 18px;
//  --form-field-label-active-size: 16px;
//}

.form {
  width: 60%;
  margin: 100px auto;

  .form-field {
    margin-bottom: 30px;


  }
  .terms {
    border: none;
  }


}