/* Styling Input Line Material Design Starts */
$animation-duration: 0.6s;
@mixin label-active() {
  font-size: var(--form-field-label-active-size);
  transform: translateY(-40px);
}

.form-field {
  display: block;
  border: 1px solid var(--color-form-field-border);
  height: auto;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;

  &-is-active {
    .form-field-label {

      color: var(--color-form-field-label);
      @include label-active();
    }
  }
  &-is-filled {
    .form-field-label {
      @include label-active();
    }
  }

  &.form-filed-error {
    .form-field-control {
      &::after {
        border-bottom: 2px solid var(--color-form-field-error);
        transform: scaleX(150);
      }
      //background: $color-white url("/kipo_front/themes/kipo/images/icon-error.svg") 95% no-repeat;
    }
    .form-field-label {
      color: var(--color-form-field-error);
      @include label-active();
    }
  }
}

.form-field-error-text {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-form-field-error) !important;
}

.form-field-label {
  display: block;
  font-size: var(--form-field-label-size);
  font-weight: normal;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  transition: all $animation-duration;
  width: 100%;
  color: var(--color-form-field-label);
}


.form-field-control {
  //--form-field-password-hide-icon: url('../images/password-hide.svg');
  border-radius: 4px 4px 0 0;
  position: relative;
  width: 100%;
  .password-hide,
  .password-visible {
    position: absolute;
    top: 0;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;

    //background-image: url("./images/password-hide.svg");
  }

  .password-visible {
    //background-image: url("./images/password-visible.svg");
    //background-image: url(var(--form-field-password-visible-icon));
  }

}

.form-field-input,
.form-field-textarea {
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--color-form-field);
  display: block;
  font-size: var(--form-field-label-size);
  outline: 0;
  width: 100%;
}

.form-field-textarea {
  font-family: inherit;
  min-height: 120px;
  resize: none;
}