/* Styling Radio Buttons Starts */

.radio-label {
  display: block;
  position: relative;
  margin: 12px 0;
  cursor: pointer;
  font-size: var(--radio-font-size);
  line-height: var(--radio-line-height);
  width: var(--radio-width);
  clear: both;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    width: var(--input-width);
    height: var(--input-height);
    &:disabled ~ .radio-custom {
      background-color: var(--radio-color);
    }
    &:checked ~ .radio-custom {
      background-color: var(--radio-color);
      border-radius: 50%;

      transform: rotate(0deg) scale(1);
      opacity: 1;
      border: 1px solid var(--radio-color);
      &::after {
        transform: rotate(45deg) scale(1);
        opacity: 1;
        border: solid var(--radio-circle-color);
        border-width: 0 2px 2px 0;
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
        border-radius: var(--radio-border-radius);
        background: white;
      }

      &::before {
        left: -3px;
        top: -3px;
        width: 16px;
        height: 16px;
        border-radius: var(--radio-border-radius);
        transform: scale(3);
        opacity:0;
        z-index: 999;
        transition: all 0.3s ease-out;
      }
    }
  }
  .radio-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--radio-default-height);
    width: var(--radio-default-width);
    background-color: transparent;
    transition: all 0.3s ease-out;
    border: 1px solid var(--radio-color);
    border-radius: var(--radio-border-radius);
    &::after {
      position: absolute;
      content: "";
      left: 12px;
      top: 12px;
      height: 0;
      width: 0;
      border-radius: 3px;
      border: solid var(--radio-color);
      border-width: 0 2px 2px 0;
      transform: rotate(0deg) scale(0);
      opacity: 1;
      transition: all 0.3s ease-out;
    }
  }
  .radio-title{
    margin-left: 30px;
    display: inline-block;
    width: 100%;
    line-height: 20px;
  }
  &::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0;
    height: 0;
    border-radius: 3px;
    border: 1px solid var(--radio-color);
    transform: scale(0);
  }
}