/* Styling Checkbox Starts */

.checkbox-label {
  display: block;
  position: relative;
  margin: 12px 0;
  cursor: pointer;
  font-size: var(--checkbox-font-size);
  line-height: var(--checkbox-line-height);
  width: var(--checkbox-width);
  clear: both;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    width: var(--input-width);
    height: var(--input-height);
    &:disabled ~ .checkbox-custom {
      background-color: var(--checkbox-color);
    }
    &:checked ~ .checkbox-custom {
      background-color: var(--checkbox-color);
      border-radius: var(--checkbox-border-radius);
      transform: rotate(0deg) scale(1);
      opacity: 1;
      border: 1px solid var(--checkbox-color);
      &::after {
        transform: rotate(45deg) scale(1);
        opacity: 1;
        left: 6px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid var(--checkbox-tick-color);
        border-width: 0 2px 2px 0;
        background-color: transparent;
        border-radius: 0;
      }

      &::before {
        left: -3px;
        top: -3px;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        transform: scale(3);
        opacity:0;
        z-index: 999;
        transition: all 0.3s ease-out;
      }
    }
  }
  .checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--checkbox-default-height);
    width: var(--checkbox-default-width);
    background-color: transparent;
    transition: all 0.3s ease-out;
    border: 1px solid var(--checkbox-color);
    border-radius: var(--checkbox-border-radius);
    &::after {
      position: absolute;
      content: "";
      left: 12px;
      top: 12px;
      height: 0;
      width: 0;
      border-radius: 3px;
      border: solid var(--checkbox-color);
      border-width: 0 2px 2px 0;
      transform: rotate(0deg) scale(0);
      opacity: 1;
      transition: all 0.3s ease-out;
    }
  }
  .checkbox-title{
    margin-left: 30px;
    display: inline-block;
    width: 100%;
    line-height: 20px;
  }
  &::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0;
    height: 0;
    border-radius: 3px;
    border: 1px solid var(--checkbox-color);
    transform: scale(0);
  }
}