// COLORS

:root {
  --color-form-field: #3d3c39;
  --color-form-field-error: #ca3610;
  --color-form-field-border: #d97b10;
  --color-form-field-label: #fc7317;
  --form-field-font-family: 'Roboto';
  --form-field-label-size: 16px;
  --form-field-label-active-size: 14px;

  --checkbox-width: auto;
  --checkbox-color: #ff6f06;
  --checkbox-tick-color: #fff;
  --checkbox-font-size: 16px;
  --checkbox-line-height: 16px;
  --checkbox-default-width: 18px;
  --checkbox-default-height: 18px;
  --checkbox-border-radius: 7px;
  --input-width: 16px;
  --input-height: 16px;


  --radio-width: auto;
  --radio-color: #ff6f06;
  --radio-circle-color: #fff;
  --radio-font-size: 16px;
  --radio-line-height: 16px;
  --radio-default-width: 18px;
  --radio-default-height: 18px;
  --radio-border-radius: 50%;
}


@import "awesome_forms";
@import "custom-checkbox";
@import "custom-radiobuttons";