:root {
  --color-form-field: #091C2E;
  --color-form-field-border: #14d9c9;
  --color-form-field-label: #3b23fc;
  --form-field-font-family: 'Roboto';
  --form-field-label-size: 16px;
  --form-field-label-active-size: 14px; }

:root {
  --color-form-field: #091C2E;
  --color-form-field-border: #14d9c9;
  --color-form-field-label: #3b23fc;
  --form-field-font-family: 'Roboto';
  --form-field-label-size: 16px;
  --form-field-label-active-size: 14px; }

/* Styling Input Line Material Design Starts */
.form-field {
  display: block;
  border: 1px solid var(--color-form-field-border);
  height: 24px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px; }
  .form-field-is-active .form-field-label {
    color: var(--color-form-field-label);
    font-size: var(--form-field-label-active-size);
    transform: translateY(-40px); }
  .form-field-is-filled .form-field-label {
    font-size: var(--form-field-label-active-size);
    transform: translateY(-40px); }
  .form-field.form-filed-error .form-field-control::after {
    border-bottom: 2px solid #ca3610;
    transform: scaleX(150); }
  .form-field.form-filed-error .form-field-label {
    color: #ca3610;
    font-size: var(--form-field-label-active-size);
    transform: translateY(-40px); }

.form-field-error-text {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #ca3610 !important; }

.form-field-label {
  display: block;
  font-size: var(--form-field-label-size);
  font-weight: normal;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  transition: all 0.6s;
  width: 100%;
  color: var(--color-form-field-label); }

.form-field-control {
  border-radius: 4px 4px 0 0;
  position: relative;
  width: 100%; }
  .form-field-control .password-hide,
  .form-field-control .password-visible {
    position: absolute;
    top: 0;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer; }

.form-field-input,
.form-field-textarea {
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--color-form-field);
  display: block;
  font-size: var(--form-field-label-size);
  outline: 0;
  width: 100%; }

.form-field-textarea {
  font-family: inherit;
  min-height: 120px;
  resize: none; }

/*# sourceMappingURL=index.css.map */
